<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-12 animated opacity" data-andown="fadeIn" data-animation="animation">                
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoRss"      title="Rss">     <i class="fa fa-rss">        </i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook">   </i></a></li>
                    <li><a href="#" class="icoTwitter"  title="Twitter"> <i class="fa fa-twitter">    </i></a></li>
                    <li><a href="#" class="icoGoogle"   title="Google+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin">   </i></a></li>
                </ul>	
            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 footer-title">
                <p id="text-footer">
                    <i class="glyphicon glyphicon-registration-mark"></i>
                    {{'lbl_footer_text' | translate}} <span id="dani-code" >danicode</span>
                </p>
            </div>
        </div>
    </div>
</div>