<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                   
            </button>                          
            <a class="title navbar-brand" href="#">{{'lbl_travel_map' | translate}}</a>              
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right header-menu">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-globe"></i>
                        {{'lbl_language' | translate}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu min-width-0" role="menu" ng-controller="TranslateController">                    
                        <li id="{{country}}" ng-repeat="country in COUNTRY_LIST" ng-class="{active: CURRENT_LANGUAGE === country}">
                            <a ng-click="changeLanguage(country)"><img alt="{{'lbl_flag_language' | translate}}" src="app/img/flags/{{country}}.png"> {{'lbl_'+country | translate}}</a>
                        </li>                   
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                        {{globals.currentUser.first_name}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" ng-controller="UserController">                    
                        <li>
                            <a ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> {{'lbl_logout' | translate}}</a>
                        </li>                   
                    </ul>
                </li>
            </ul>
        </div>       
    </div>
</nav>    