<!--HOME SECTION-->
<section class="section" id="home">
    
    <section class="presentation presentation-home">
        <div class="container"> 
            <div class="row">
                 
                <div class="col-md-7 col-md-offset-0">
                    <div class="text-center">
                        <h2 class="sub-title">{{ 'lbl_welcome' | translate }}</h2>
                        <p>
                            {{ 'lbl_home_slogan_text' | translate }}
                        </p>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-0"> 
                    <!-- Short introductory (optional) -->
                    <div class="tagline-home">
                        {{ 'lbl_access_your_account' | translate }}!!!
                    </div>                  

                    <form ng-submit="login()" name="formLogin" id="form-login" class="form  col-md-10 col-md-offset-1" novalidate>

                        <div ng-class="{'has-error': formLogin.email.$error.email || formLogin.email.$error.maxlength, 'has-success': !formLogin.email.$invalid}" class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input ng-maxlength="255" maxlength="256" name="email" class="form-control input-lg" ng-model="credentials.email" placeholder="{{ 'lbl_email' | translate }}..." type="email" tabindex="1" autofocus="autofocus" required>       
                            </div>              
                            <div class="help-block home-error home-error-email" ng-show="formLogin.email.$error.email || formLogin.email.$error.maxlength">
                                <p ng-show="formLogin.email.$error.email">{{'lbl_invalid_email' | translate }} <strong>{{ 'lbl_email_format' | translate }}</strong></p>
                                <p ng-show="formLogin.email.$error.maxlength">{{'lbl_most' | translate }} <strong>{{ 'lbl_most_long_email' | translate }}</strong></p>
                            </div>
                        </div>

                        <div ng-class="{'has-error': formLogin.password.$error.minlength || formLogin.password.$error.maxlength, 'has-success': !formLogin.password.$invalid}" class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                <input ng-minlength=8 ng-maxlength="100" maxlength="101" ng-model="credentials.password"  name="password" class="form-control input-lg" placeholder="{{'lbl_password' | translate}}..." type="password" tabindex="2" required>   
                            </div>
                            <div class="help-block home-error home-error-password" ng-show="formLogin.password.$error.minlength || formLogin.password.$error.maxlength">
                                <p ng-show="formLogin.password.$error.minlength">{{ 'lbl_least' | translate }} <strong>{{ 'lbl_least_long_password' | translate }}</strong></p>
                                <p ng-show="formLogin.password.$error.maxlength">{{ 'lbl_most' | translate }} <strong>{{ 'lbl_most_long_password' | translate }}</strong></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" disabled>{{ 'lbl_login' | translate }}</button>
                            <button type="submit" class="btn btn-success btn-lg btn-block">{{ 'lbl_login' | translate }}</button>
                            <span class="pull-left"><label class="checkbox custom-radio-checkbox">
                                    <input type="checkbox" ng-model="stay_signed_in">{{ 'lbl_stay_signed_in' | translate }}
                            </label></span ><span class="pull-right"><a id='btn-forgot-password' ng-click="openPopupForgotPassword()">{{ 'lbl_forgot_password' | translate }}</a></span>
                        </div>
                        <div class="alert alert-danger home-error-login" ng-show="flash.type === 'login_error'">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong><i class="glyphicon glyphicon-warning-sign"></i> {{ flash.message }}</strong>     
                        </div>
                    </form>     
                </div>
            </div>
        </div>
    </section>
    
    <section class="information information-home">
        <div class="container">
            <div class="row">            
                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-map-marker fa-5x"></i>
                        <h4 class="text-bold">{{ 'lbl_marker' | translate }}</h4>
                        <p>
                            {{ 'lbl_marker_text' | translate }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-road fa-5x"></i>
                        <h4 class="text-bold">{{ 'lbl_road' | translate }}</h4>
                        <p>
                            {{ 'lbl_road_text' | translate }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-tag fa-5x"></i>
                        <h4 class="text-bold">{{ 'lbl_tag' | translate }}</h4>
                        <p>
                            {{ 'lbl_tag_text' | translate }}
                        </p>
                    </div>
                </div>

            </div>     

        </div>  
    </section>    
    
</section>

<!--SIGNUP SECTION-->
<section class="section" id="signup">
    
    <section class="presentation presentation-signup">
        <div class="container"> 
            <div class="row">                 
                <div class="col-md-7 col-md-offset-0">
                    <div class="text-center">  
                        
                        <h2 class="sub-title sub-title-signup">{{ 'lbl_sign_up' | translate }}</h2>
                        
                                                
                    </div>
                    <p class="signup-slogan">
                            {{ 'lbl_signup_slogan_text' | translate }}
                        </p>	
                    
                    <div class="signup-feature">
                    
                        <div class="row margin-bottom-40">
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <div class="text-center">
                                    <i class="fa fa-user fa-5x"></i>                                                
                                </div>                                                                    
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10">
                                <p>
                                    {{ 'lbl_user_text' | translate }}
                                </p>
                            </div>
                         </div>


                        <div class="row margin-bottom-40">
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <div class="text-center">
                                    <i class="fa fa-camera fa-5x"></i>                                                
                                </div>                                        
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10">
                                <p>
                                    {{ 'lbl_photo_text' | translate }}
                                </p>
                            </div>
                        </div>

                        <div class="row margin-bottom-40">
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <div class="text-center">
                                    <i class="fa fa-comment fa-5x"></i>                                                
                                </div>                            
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10">
                                <p>
                                    {{ 'lbl_comment_text' | translate }}
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-md-5 col-md-offset-0">

                    <div class="tagline-signup">
                        {{ 'lbl_create_account' | translate }}!!!
                    </div>

                    <form ng-submit="signup()" name="formSignup" id="form-signup" role="form" class="form col-md-10 col-md-offset-1" novalidate>
			<hr>
			<div class="row">
                                
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div ng-class="{'has-error': formSignup.first_name.$error.maxlength, 'has-success': !formSignup.first_name.$invalid}" class="form-group">                                    
                                    <input ng-maxlength="100" maxlength="101" name="first_name" id="first_name" class="form-control input-lg" ng-model="credentials_register.first_name" placeholder="{{'lbl_first_name' | translate}}..." tabindex="1" type="text" autofocus="autofocus" required>
                                    <div class="help-block signup-error signup-error-first-name" ng-show="formSignup.first_name.$error.maxlength">                                    
                                        <p ng-show="formSignup.first_name.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_first_name' | translate}}</strong></p>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div ng-class="{'has-error': formSignup.last_name.$error.maxlength, 'has-success': !formSignup.last_name.$invalid}" class="form-group">
                                    <input ng-maxlength="50" maxlength="51" name="last_name" id="last_name" class="form-control input-lg" ng-model="credentials_register.last_name" placeholder="{{'lbl_last_name' | translate}}..." tabindex="2" type="text" required>
                                    <div class="help-block signup-error signup-error-last-name" ng-show="formSignup.last_name.$error.maxlength">                                    
                                        <p ng-show="formSignup.last_name.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_last_name' | translate}}</strong></p>
                                    </div>
                                </div>
                            </div>
			</div>
			<div ng-class="{'has-error': formSignup.email.$error.email || formSignup.email.$error.maxlength, 'has-success': !formSignup.email.$invalid}" class="form-group">
                            <input ng-maxlength="255" maxlength="256" name="email" id="email" class="form-control input-lg" ng-model="credentials_register.email" placeholder="{{'lbl_email' | translate}}..." tabindex="4" type="email" required>
                            <div class="help-block signup-error signup-error-email" ng-show="formSignup.email.$error.email || formSignup.email.$error.maxlength">
                                <p ng-show="formSignup.email.$error.email">{{'lbl_invalid_email' | translate}} <strong>{{'lbl_email_format' | translate}}</strong></p>
                                <p ng-show="formSignup.email.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_email' | translate}}</strong></p>
                            </div>
                        </div>		                        
				
                        <div ng-class="{'has-error': formSignup.password.$error.minlength || formSignup.password.$error.maxlength, 'has-success': !formSignup.password.$invalid}" class="form-group">
                            <input ng-minlength=8 ng-maxlength="100" maxlength="101" ng-model="credentials_register.password" name="password" id="password" class="form-control input-lg" placeholder="{{'lbl_password' | translate}}..." tabindex="5" type="password" required>
                            <div class="help-block signup-error signup-error-password" ng-show="formSignup.password.$error.minlength || formSignup.password.$error.maxlength">
                                <p ng-show="formSignup.password.$error.minlength">{{'lbl_least' | translate}} <strong>{{'lbl_least_long_password' | translate}}</strong></p>
                                <p ng-show="formSignup.password.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_password' | translate}}</strong></p>
                            </div>
                        </div>

                        <div ng-class="{'has-error': formSignup.password_confirmation.$error.minlength || formSignup.password_confirmation.$error.maxlength || formSignup.password_confirmation.$error.pwmatch, 'has-success': !formSignup.password_confirmation.$invalid}" class="form-group">
                            <input data-ng-pw-check="password" ng-minlength=8 ng-maxlength="100" maxlength="101" ng-model="credentials_register.password_confirmation" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="{{'lbl_password_confirmation' | translate}}..." tabindex="6" type="password" required>
                            <div class="help-block signup-error signup-error-password-confirmation" ng-show="formSignup.password_confirmation.$error.minlength || formSignup.password_confirmation.$error.maxlength || formSignup.password_confirmation.$error.pwmatch">
                                <p ng-show="formSignup.password_confirmation.$error.minlength">{{'lbl_least' | translate}} <strong>{{'lbl_least_long_password' | translate}}</strong></p>
                                <p ng-show="formSignup.password_confirmation.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_password' | translate}}</strong></p>
                                <p ng-show="formSignup.password_confirmation.$error.pwmatch"><strong>{{'lbl_password_do_not_match' | translate}}</strong></p>
                            </div>
                        </div>				

                        <label>
                            {{'lbl_terms_condition_1' | translate}}
                            <strong class="label label-success">{{'lbl_register' | translate}}</strong>
                            , {{'lbl_terms_condition_2' | translate}}
                            <a data-target="#t_and_c_m" data-toggle="modal" ng-click="linkToSection(PRIVACITY_MENU)">{{'lbl_terms_condition_3' | translate}}</a>
                            {{'lbl_terms_condition_4' | translate}}
                        </label>                 
			<hr>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" tabindex="7" disabled>{{'lbl_register' | translate}}</button>
                            <button type="submit" class="btn btn-success btn-lg btn-block" tabindex="7">{{'lbl_register' | translate}}</button>                            
                        </div>
                        <div class="alert alert-danger signup-error-register" ng-show="flash.type === 'signup_error'">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong><i class="glyphicon glyphicon-warning-sign"></i> {{flash.message}}</strong>     
                        </div>
                        
                    </form>
                </div>                                
            </div>
        </div>
    </section>    
</section>

<!--ABOUT SECTION-->
<section class="section" id="about">
    
    <section class="presentation presentation-about">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="text-center">
                        <h2 class="sub-title sub-title-about">{{'lbl_t' | translate}}</h2>
                        <p class="about-slogan">
                            {{'lbl_about_slogan' | translate}}
                        </p>	
                        <i class="fa fa-chevron-circle-down fa-3x margin-top-50"></i>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    
    <section class="information information-about">
        <div class="container">
            <div class="row">            
                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-globe fa-5x"></i>
                        <h4 class="text-bold">{{'lbl_about_1' | translate}}</h4>
                        <p>
                            {{'lbl_about_text_1' | translate}}
                        </p>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-star fa-5x"></i>
                        <h4 class="text-bold">{{'lbl_about_2' | translate}}</h4>
                        <p>
                            {{'lbl_about_text_2' | translate}}
                        </p>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-anchor fa-5x"></i>
                        <h4 class="text-bold">{{'lbl_about_3' | translate}}</h4>
                        <p>
                            {{'lbl_about_text_3' | translate}}
                        </p>
                    </div>
                </div>
            </div>     

        </div>  
    </section>    
    
</section>

<!--PRIVACITY SECTION-->
<section class="section" id="privacity">
    
    <section class="presentation presentation-privacity">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="text-center">
                        <h2 class="sub-title sub-title-about">{{'lbl_t' | translate}}</h2>

                        <p class="privacity-slogan">
                            {{'lbl_privacity' | translate}}
                        </p>	
                        <i class="fa fa-lock fa-3x"></i>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    
    <section class="information information-privacity">
        <div class="container">
            <div class="row">            
                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-asterisk fa-5x"></i>
                        <h4 class="text-bold">{{'lbl_general_description' | translate}}</h4>
                        <p>
                            {{'lbl_general_description_text' | translate}}
                        </p>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-file-text  fa-5x"></i>
                        <h4 class="text-bold">{{'lbl_term' | translate}}</h4>
                        <p>
                            {{'lbl_term_text' | translate}}
                        </p>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="text-center">
                        <i class="fa fa-gavel fa-5x"></i>
                        <h4 class="text-bold">{{'lbl_condition' | translate}}</h4>
                        <p>
                            {{'lbl_condition_text' | translate}}
                        </p>
                    </div>
                </div>
            </div>     

        </div>  
    </section>    
    
</section>


<!--    <span data-us-spinner="{lines: 13, 
    length: 20, 
    width: 10, 
    radius: 30, 
    corners: 1, 
    rotate: 0, 
    direction: 1,
    color: '#fff',
    speed: 1, 
    trail: 60, 
    shadow: false,
    hwaccel: false,
    className: 'spinner', 
    zIndex: 2e9, 
    top: '65%', 
    left: '50%'}" data-spinner-start-activo = "1"></span>-->
