<!--<leaflet center="center" markers="markers" height="728px" width="912px"></leaflet>-->

<leaflet center="center"></leaflet>
<!-- center="center" markers="markers"-->
<!--width="805px"-->
<!--898px-->

<!--<div id="btn-group-map-edit" ng-show="false">                     
    <div class="btn-group">                        
        <button ng-disabled="!activateHideMarker && !activateHideLiner" class="btn btn-primary" type="button" ng-click="hideAllItems()"><i class="glyphicon glyphicon-plus-sign"></i> hide all items</button>
    </div>
    <div class="btn-group">                        
        <button ng-disabled="((markerLayers.features.length < 1 || activateHideMarker) && (linerLayers.features.length < 1 || activateHideLiner))" class="btn btn-primary" type="button" ng-click="addAllItems()"><i class="glyphicon glyphicon-plus-sign"></i> add all items</button>
    </div>
    <div class="btn-group">                        
        <button ng-disabled="markerLayers.features.length < 1 || activateHideMarker" class="btn btn-primary" type="button" ng-click="addMarkers()"><i class="glyphicon glyphicon-plus-sign"></i> add markers</button>
    </div>
    <div class="btn-group">                        
        <button ng-disabled="!activateHideMarker" class="btn btn-primary" type="button" ng-click="hideMarkers()"><i class="glyphicon glyphicon-plus-sign"></i> hide markers</button>
    </div>
    <div class="btn-group">                        
        <button ng-disabled="linerLayers.features.length < 1 || activateHideLiner" class="btn btn-primary" type="button" ng-click="addLiners()"><i class="glyphicon glyphicon-plus-sign"></i> add liners</button>
    </div>
   <div class="btn-group">                        
        <button ng-disabled="!activateHideLiner" class="btn btn-primary" type="button" ng-click="hideLiners()"><i class="glyphicon glyphicon-plus-sign"></i> hide liners</button>
   </div>
</div>-->