<!-- Left column -->
<h3 class="menu-title">{{'lbl_menu' | translate}}</h3> 

<hr>

<div ng-controller="AccordionDemoController">
  <accordion close-others="oneAtATime">
    <accordion-group is-open="status.open">
        <accordion-heading>
            <i class="glyphicon glyphicon-globe"></i> {{'lbl_language' | translate}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div ng-controller="TranslateController">
            <div ng-repeat="country in COUNTRY_LIST">
                <a href="" ng-click="changeLanguage(country)"><img alt="{{'lbl_flag_language' | translate}}" src="app/img/flags/{{country}}.png">  {{'lbl_'+country | translate}}</a>
            </div>
        </div>
    </accordion-group>
  </accordion>
</div>