/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/07/2014, 11:29:19
    Author     : dani
*/

.title {
    font-family: bigfish,cursive,serif;
    font-weight: bold;
    margin-left: 0;
    text-align: center;
    text-transform: uppercase;
}

.email-color {
    background-color: #EFEFEF;
}