/* 
    Created on : 30/05/2014, 19:59:36
    Author     : dani
*/

@font-face 
{
    font-family: "nothingyoucoulddo"; 
    src: url("../fonts/nothingyoucoulddo/nothingyoucoulddo.eot");
    src: url("../fonts/nothingyoucoulddo/nothingyoucoulddo.eot?#iefix") format("embedded-opentype"),
         url("../fonts/nothingyoucoulddo/nothingyoucoulddo.woff") format("woff"),
         url("../fonts/nothingyoucoulddo/nothingyoucoulddo.ttf") format("truetype"),
         url("../fonts/nothingyoucoulddo/nothingyoucoulddo.svg#nothingyoucoulddo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: "desyrel"; 
    src: url("../fonts/desyrel/desyrel.eot");
    src: url("../fonts/desyrel/desyrel.eot?#iefix") format("embedded-opentype"),
         url("../fonts/desyrel/desyrel.woff") format("woff"),
         url("../fonts/desyrel/desyrel.ttf") format("truetype"),
         url("../fonts/desyrel/desyrel.svg#desyrel") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: "bigfish"; 
    src: url("../fonts/bigfish/bigfish.eot");
    src: url("../fonts/bigfish/bigfish.eot?#iefix") format("embedded-opentype"),
         url("../fonts/bigfish/bigfish.woff") format("woff"),
         url("../fonts/bigfish/bigfish.ttf") format("truetype"),
         url("../fonts/bigfish/bigfish.svg#bigfish") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: "quicksand-regular"; 
    src: url("../fonts/quicksand-regular/quicksand-regular.eot");
    src: url("../fonts/quicksand-regular/quicksand-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/quicksand-regular/quicksand-regular.woff") format("woff"),
         url("../fonts/quicksand-regular/quicksand-regular.ttf") format("truetype"),
         url("../fonts/quicksand-regular/quicksand-regular.svg#quicksand-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}