/* 
    Created on : 30/05/2014, 20:16:14
    Author     : dani
*/

/*=========================
  Footer
 ================= */
footer {
    color: #fff;
    display: block;
    width: 100%;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    background-color: #FFFFFF;
    padding-top: 10px;    
}

footer .footer-below {
    background-color: #FFFFFF;
    color: #121E24;
}

#text-footer {
    text-align:  center; 
    color:       #121E24;
    margin-top:  10px;
    font-weight: bold;   
    text-shadow: 1px 2px 3px #666;
}

#dani-code {
    font-family: desyrel,cursive,serif;
    font-size:   16pt;
    font-weight: bold;
    margin-top:  11px;
    text-align:  center;
}

.footer-title {
    cursor: default;
    margin: 0 auto;    
}

/* footer social icons */
ul.social-network {
    display:     inline;
    list-style:  none;	
    margin-left: 0 !important;
    padding:     0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer menu */
ul.footer-menu {
    display:     inline;
    list-style:  none;    
    margin-left: 0 !important;
    padding:     0;
}
ul.footer-menu li {
    display: inline;
    margin:  0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}
.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, 
.social-network a.icoFacebook:hover i, 
.social-network a.icoTwitter:hover i, 
.social-network a.icoGoogle:hover i, 
.social-network a.icoVimeo:hover i, 
.social-network a.icoLinkedin:hover i {
    color:#fff;
}

a.socialIcon:hover, 
.socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {    
    background-color:      #121E24;
    border-radius:         50%;
    display:               inline-block;
    font-size:             20px;
    height:                50px;
    margin:                0 auto 0 auto;
    -moz-border-radius:    50%;
    -webkit-border-radius: 50%;
    position:              relative;    
    text-align:            center;
    text-shadow:           0 -1px 0 rgba(0, 0, 0, 0.5);
    width:                 50px;      
}

.social-circle li i {
    line-height: 50px;
    margin:      0;    
    text-align:  center;
}

.social-circle li a:hover i, 
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}