/* 
    Created on : 16/06/2014, 15:07:59
    Author     : dani
*/
/* Set submit button */
form .btn, form.ng-valid .btn[disabled] {
  display: none;
}
form.ng-invalid .btn[disabled], form.ng-valid .btn {
/*  display: inline-block;*/
  display: block;
}