/* 
    Created on : 30/05/2014, 20:14:01
    Author     : dani
*/

.navbar-default {
/*    background: none repeat scroll 0 0 #143A59;*/
    background: none repeat scroll 0 0 #2c3e50;
    padding:    25px 0;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-default 
.navbar-brand {
    color: #ffffff;    
}

.navbar-default 
.navbar-brand:hover, 
.navbar-default 
.navbar-brand:focus {
    background-color: transparent;
    color:            #fff;
}

.navbar-default 
.navbar-nav > li > a {
    background:     none;    
    color:          #4B6370;
    font-size:      12px;
    font-weight:    700;	
    letter-spacing: 0.2em;
    text-shadow:    0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */
    text-transform: uppercase;
    transition:     all 0.5s ease 0s;
}

.navbar-default 
.navbar-nav > li > a:hover {
    color: #FFFFFF;
}

.nav-pills > li
.active > a, 
.nav-pills > li
.active > a:hover, 
.nav-pills > li
.active > a:focus {
    background-color: transparent;
    color:            #FFFFFF;
}

.title {
    font-family:    bigfish,cursive,serif;
    text-transform: uppercase;
    font-weight:    bold;
    text-align:     center;
    margin-left:    0px;
}

.tagline1 {
    color:     #77AA00;    
    font-size: 18pt;
}

.tagline-home {
    color:     #BB8800;
    font-size: 18pt;     
    margin:    10px auto;
}

.tagline1, .tagline-home, 
.tagline-signup {   
    cursor:      default;    
    font-family: nothingyoucoulddo,cursive,serif;
    font-weight: bold;
    text-align:  center;   
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.tagline-signup {
    color:     #0ED0FF;
    font-size: 18pt;     
    margin:    33px 0 0 auto;
}

/* color tab header -> focus & hover */
/*.navbar-default 
.navbar-nav >
.active > a:hover,
.navbar-default 
.navbar-nav >
.active > a:focus {
    background-color: transparent;
    color: #fff;
}*/

/* color tab header */
.navbar-default 
.navbar-nav > 
.active > a, 
.navbar-default 
.navbar-nav > 
.active > a:hover, 
.navbar-default 
.navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #fff;
    outline: none;
}

/* color tab header - dropdown */
.navbar-default 
.navbar-nav > 
.open > a, 
.navbar-default 
.navbar-nav > 
.open > a:hover, 
.navbar-default 
.navbar-nav > 
.open > a:focus {
    background-color: transparent;
    color: #fff;
    outline: none;
}

/* color tab header - dropdown -> after selected */
.dropdown
.navbar-default
.navbar-nav > li > a:hover, 
.navbar-default 
.navbar-nav > li > a:focus {
    background-color: transparent;
    color: #777777;
    outline: none;
}

.dropdown-menu {
    background-color: #2C3E50;
    cursor: pointer;
}

.navbar-default
.navbar-toggle:hover,
.navbar-default
.navbar-toggle:focus {
    background-color: #121E24;
    outline: none;
}

.navbar-default 
.navbar-collapse, 
.navbar-default 
.navbar-form {
    border-color: #000000;
    outline: none;
}

.navbar-default 
.navbar-nav 
.open 
.dropdown-menu > li > a {
    background:     none;
    color:          #4B6370;
    font-size:      12px;
    letter-spacing: 0.2em;
    text-shadow:    0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */
    text-transform: uppercase;
    transition:     all 0.5s ease 0s;   
    outline: none;
}

.navbar-default
.navbar-nav 
.open
.dropdown-menu > li > a:hover,
.navbar-default 
.navbar-nav 
.open
.dropdown-menu > li > a:focus {
    background-color: rgba(0,0,0,0);
    color:            #fff;
    outline: none;
}

.navbar-default
.navbar-nav 
.open
.dropdown-menu > li > a:hover,
.navbar-default 
.navbar-nav 
.open
.dropdown-menu > li > a:focus {
    background-color: rgba(0,0,0,0);
    color:            #fff;
    outline: none;
}

.dropdown-menu > 
.active > a, 
.dropdown-menu > 
.active > a:hover, 
.dropdown-menu > 
.active > a:focus {    
    color: #FFFFFF !important;
}