/* 
    Created on : 03/06/2014, 22:15:10
    Author     : dani
*

//********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section { 
    display:  none;
    height:   100%;
    overflow: auto;
    top:      0;
    width:    100%; 
    z-index:  1;
}

.landing-page-title {
    cursor:     default;
    font-size:  72pt;
    margin-top: 60px;      
}

.sub-title {
    font-family: fantasy;
    font-size:   47pt;    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

/*******************************************************/
/*             Home Section                            */
/*******************************************************/

/* Show one of sections */
#home { 
    display: block;
}

.presentation {
    display: block;
    padding: 165px 0 110px;    
}

.information {
    margin-bottom: 135px;
    margin-top: 17px;
}

.presentation-home {
    background: none repeat scroll 0 0 #214457;    
    color: #FDFDFD;
/*    padding-bottom: 98px;*/
}

.presentation-home a {
    color: #6295AE;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */    
    transition: all 0.5s ease 0s;
}

.presentation-home a:hover {
   color: #FFFFFF;
   text-decoration: none; 
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.information-home {    
    color: #121E24;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

#btn-forgot-password {
    cursor: pointer;
}

.signup-login {
    cursor: pointer;
}

.home-error {
    background: none repeat scroll 0 0 #F2DEDE;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    position: absolute;
    width: 220px;
    z-index: 1000;
}
.signup-error {
    background: none repeat scroll 0 0 #F2DEDE;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    position: absolute;
    width: 220px;
    z-index: 1000;
}

.home-error-email {
    left: 146px;
}

.home-error-email::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-error-forgot-password {
    left: 21px;
    top: 70px;
    z-index: 1001;
}

.home-error-forgot-password::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-error-password {
    
}

.home-error-password::before {
    bottom: 11px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-error-login {
    margin-top: 7px;
    position: absolute;
    width: 92%;
}

.home-general-error-forgot-password {
    position: absolute;
    top: 77px;
    width: 93%;
    z-index: 1000;
}

.home-general-error-forgot-password::before {
    bottom: 31px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-general-success-forgot-password {
    position: absolute;
    top: 77px;
    width: 93%;
    z-index: 1000;
}

.home-general-success-forgot-password::before {
    bottom: 31px;
    color: #DFF0D8;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-error-reset-password-email {
    left: 21px;
    top: 70px;
    z-index: 1001;
}

.home-error-reset-password-email::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-error-reset-password-password {
    right: 20px;
}

.home-error-reset-password-password::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-error-reset-password-password-confirmation {
    left: 20px;
    z-index: 1001;
}

.home-error-reset-password-password-confirmation::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-general-error-reset-password {
    position: absolute;
    top: 199px;
    width: 93%;
    z-index: 1000;
}

.home-general-error-reset-password::before {
    bottom: 31px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.home-general-success-reset-password {
    position: absolute;
    top: 199px;
    width: 93%;
    z-index: 1000;
}

.home-general-success-reset-password::before {
    bottom: 31px;
    color: #DFF0D8;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.signup-error-register {
    margin-top: 7px;
    position: absolute;
    width: 92%;
}

.signup-error-first-name {
    left: 15px;
    width: 158px !important;
}

.signup-error-first-name::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 59px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.signup-error-last-name {
    right: 15px;
    width: 158px !important;
}

.signup-error-last-name::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 59px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.signup-error-email {
    left: 15px;
}

.signup-error-email::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 153px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.signup-error-password {
    left: 146px;
}

.signup-error-password::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.signup-error-password-confirmation {
    left: 15px;
}

.signup-error-password-confirmation::before {
    bottom: 13px;
    color: #F2DEDE;
    content: "\25B2";
    font-size: 16px;
    left: 90px;
    line-height: 16px;
    position: relative;
    text-shadow: none;
}

.radio, .checkbox, .custom-radio-checkbox {
    color: #6295AE;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

label, .custom-radio-checkbox {
    cursor: default;
    font-weight: normal; 
}

input[type="checkbox"], input[type="radio"], .custom-radio-checkbox {
    cursor: pointer;
}

/*******************************************************/
/*             Sign up Section                            */
/*******************************************************/

.sub-title-signup {
    color: #FFFFFF;
    text-shadow: -1px -1px 10px #000000 !important;  
}

.signup-slogan {
    color: #ffffff;
    font-family: Verdana;
    font-size: 12pt;
    margin-top: 23px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.signup-feature {
    padding-top: 35px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.signup-feature i {
    color: #FFFFFF;
    text-shadow: -3px -3px 0 rgba(0, 0, 0, 0.5);    
}

.signup-feature p {
    color: #fff;
    font-family: Tahoma;
    font-weight: bold;
    margin-top: 12px;
}

.presentation-signup {
    background: none repeat scroll 0 0 #395168;
    color: #FFFFFF;
    /*margin-bottom: 72px;*/
    margin-bottom: 30px;
    /*padding: 125px 0 97px !important;*/
    padding: 142px 0 122px !important;
}

.presentation-signup a {
    color: #4A8DDC;
    cursor: pointer;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */    
    transition: all 0.5s ease 0s;
}

.presentation-signup a:hover {
   color: #FFFFFF;
   text-decoration: none; 
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.information-signup {    
    color: #121E24;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/*******************************************************/
/*             About Section                            */
/*******************************************************/

.sub-title-about {
    color: #FFFFFF;
    font-family: bigfish;
    font-size: 63pt;
    text-shadow: -1px -1px 7px #000000 !important;
}

.about-slogan {
    color: #FFFFFF;
    font-family: quicksand-regular;
    font-size: 35pt;
    text-shadow: 0 -1px 0 #000000;
}

.about-feature {
    padding-top: 35px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.about-feature i {
    color: #AADCFF;
    text-shadow: -3px -3px 0 rgba(0, 0, 0, 0.5);    
}

.about-feature p {
    color: #C7E7FD;
    font-family: Tahoma;
    font-weight: bold;
    margin-top: 12px;
}

.presentation-about {
    background: none repeat scroll 0 0 #53868B;
    color: #C3E1CC;
    margin-bottom: 0;
    padding: 125px 0 20px !important;
}

.presentation-about a {
    color: #193377;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */    
    transition: all 0.5s ease 0s;
}

.presentation-about a:hover {
   color: #FFFFFF;
   text-decoration: none; 
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.information-about {    
    background: none repeat scroll 0 0 #FFFFFF;
    color: #121E24;
    margin-bottom: 178px;
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/*******************************************************/
/*             Privacity Section                       */
/*******************************************************/

.sub-title-privacity {
    color: #FFFFFF;
    font-family: bigfish;
    font-size: 63pt;
    text-shadow: -1px -1px 7px #000000 !important;
}

.privacity-slogan {
    color: #FFFFFF;
    font-family: quicksand-regular;
    font-size: 35pt;
    text-shadow: 0 -1px 0 #000000;
}

.privacity-feature {
    padding-top: 35px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.privacity-feature i {
    color: #AADCFF;
    text-shadow: -3px -3px 0 rgba(0, 0, 0, 0.5);    
}

.privacity-feature p {
    color: #C7E7FD;
    font-family: Tahoma;
    font-weight: bold;
    margin-top: 12px;
}

.presentation-privacity {
    background: none repeat scroll 0 0 #759FBC;
    color: #112B3D;
    margin-bottom: 0;
    padding: 125px 0 20px !important;
}

.presentation-privacity a {
    color: #193377;    
    text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */    
    transition: all 0.5s ease 0s;
}

.presentation-privacity a:hover {
   color: #FFFFFF;
   text-decoration: none; 
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.information-privacity {    
    background: none repeat scroll 0 0 #FFFFFF;
    color: #121E24;
    margin-bottom: 178px;
    margin-top: 0;
    padding-bottom: 55px;
    padding-top: 50px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.spinner {
  background: none repeat scroll 0 0 #333333;
    bottom: 352px;
    height: 200px;
    left: 821px;
    position: absolute;
    width: 200px;
    color:#FFFFFF;
    border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  /*border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#FFFFFF;
  float:left;
  height:268px;
  margin:0 20px 20px 0;
  position:relative;
  width:268px;*/
}