/* 
    Created on : 08/05/2014, 13:37:03
    Author     : dani
*/

html, body {
    height: 100%;
}

body {
    padding-bottom: 0 !important;
    padding-top:    0 !important;
}

body.modal-open {
    overflow: hidden;
}

canvas {
    background-color:   #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow:    3px 3px 3px 0 #e3e3e3;
    box-shadow:         3px 3px 3px 0 #e3e3e3;
    border:             1px solid #c3c3c3;
    height:             100px;
    margin:             6px 0 0 6px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image:         none;
    -moz-border-left-colors:   none;
    -moz-border-right-colors:  none;
    -moz-border-top-colors:    none;
    border-color:              #EEEEEE -moz-use-text-color #FFFFFF;
    border-style:              solid none;
    border-width:              1px 0;
    margin:                    18px 0;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-50 {
    margin-top: 5px;
}

.min-width-0 {
    min-width: 0px;
}

.modal {
    overflow-y: auto;
}

.another-file-over-class { 
    border: dotted 3px green; 
}

.my-drop-zone { 
    border: dotted 3px lightgray; 
}

.ng-file-over { 
    border: dotted 3px red; 
} /* Default class applied to drop zones on over */

 #loading {
    list-style: none;
    margin: 250px auto;
    text-align: center;
    width: 400px;
 }    