/* 
    Created on : 30/05/2014, 20:11:28
    Author     : dani
*/

/*map*/
/*#map {
    margin-bottom: 10px; 
    padding-bottom: 10px;
}*/

/*map-edit*/
#btn-group-map-edit {
    margin-top: 10px; 
    text-align: center;
}  

.search-input {
    font-family: Courier;
}

.search-input,
.leaflet-control-search {
    max-width: 400px;
}



div.angular-leaflet-map {
    width: 100%;
}