.custom-modal .modal-content {
    background: none repeat scroll 0 0 #214457;
}

.custom-modal .modal-header {
    border-bottom: 0;
}

.custom-sub-title-modal {
    color: #fff;
    font-family: bigfish;
    font-size: 63pt;
    text-shadow: -1px -1px 7px #000000 !important;
}

.custom-modal-slogan {
    color: #fff;
    font-family: quicksand-regular;
    font-size: 28pt;
    text-shadow: -1px -1px 1px #000000;
}

.custom-modal .modal-footer {
    border-top: 1px solid #223737;
}

.custom-notification-modal {
    color: #fff;
    font-size: 15pt;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);    
}

.custom-progressbar-notification-modal {
    color: #fff;
    font-size: 13pt;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);    
}