/* 
    Created on : 20/06/2014, 02:01:46
    Author     : dani
*/

@media (min-width: 1200px) {
    
}

@media (mind-width: 768px) and (max-width: 979px) {
    .error-require-auth {
        bottom: 138px;
    }
}

@media (max-width: 767px) {
    .error-require-auth {
        bottom: 148px;
    }
}

@media (max-width: 480px) {
    .error-require-auth {
        bottom: 230px;
    }
}