.animated {
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -o-animation-duration: .5s;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;  
    -ms-animation-duration: .5s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: both;  
    
}

.animated
.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.transition-1 {
    transition:All 0.6595s ease;
    -webkit-transition:All 0.6595s ease;
    -moz-transition:All 0.6595s ease;
    -o-transition:All 0.6595s ease;
    transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
}
.transition-1:hover {
    transform: rotate(-2deg) scale(1.5) skew(-2deg) translate(1px);
    -webkit-transform: rotate(-2deg) scale(1.5) skew(-2deg) translate(1px);
    -moz-transform: rotate(-2deg) scale(1.5) skew(-2deg) translate(1px);
    -o-transform: rotate(-2deg) scale(1.5) skew(-2deg) translate(1px);
    -ms-transform: rotate(-2deg) scale(1.5) skew(-2deg) translate(1px);
}

.transition-2 {
    transition:All 0.6595s ease;
    -webkit-transition:All 0.6595s ease;
    -moz-transition:All 0.6595s ease;
    -o-transition:All 0.6595s ease;
    transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
}
.transition-2:hover {
    transform: rotate(-2deg) scale(1.5) skew(-2deg) translate(-6px);
    -webkit-transform: rotate(-2deg) scale(1.2) skew(-2deg) translate(-6px);
    -moz-transform: rotate(-2deg) scale(1.2) skew(-2deg) translate(-6px);
    -o-transform: rotate(-2deg) scale(1.2) skew(-2deg) translate(-6px);
    -ms-transform: rotate(-2deg) scale(1.2) skew(-2deg) translate(-6px);
}

.transition-3 {
    transition:All 0.6595s ease;
    -webkit-transition:All 0.6595s ease;
    -moz-transition:All 0.6595s ease;
    -o-transition:All 0.6595s ease;
    transform: rotate(0deg) scale(1) skew(-2deg) translate(1px);
    -webkit-transform: rotate(0deg) scale(1) skew(-2deg) translate(1px);
    -moz-transform: rotate(0deg) scale(1) skew(-2deg) translate(1px);
    -o-transform: rotate(0deg) scale(1) skew(-2deg) translate(1px);
    -ms-transform: rotate(0deg) scale(1) skew(-2deg) translate(1px);
}
.transition-3:hover {    
    transform: rotate(-3deg) scale(1) skew(1deg) translate(10px);
    -webkit-transform: rotate(-3deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(-3deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(-3deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(-3deg) scale(1) skew(1deg) translate(10px);
}