<form name="formForgotPassword" novalidate ng-submit="send()">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">&times;</button>
        <h3 class="modal-title text-center sub-title custom-sub-title-modal">{{'lbl_t' | translate}}</h3>
        <div class="text-center custom-modal-slogan">
            <p>{{'lbl_find_account' | translate}}</p>
        </div>
    </div>
    <div class="modal-body">
        <div ng-class="{'has-error': formForgotPassword.email.$error.email || formForgotPassword.email.$error.maxlength, 'has-success': !formForgotPassword.email.$invalid}" class="form-group">
            <div class="input-group form-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
                <input ng-model="credentials.email" ng-maxlength="255" maxlength="256" name="email" class="form-control input-lg" placeholder="{{'lbl_email' | translate}}..." type="email" autofocus="autofocus" required>            
            </div>
            <div class="help-block home-error home-error-forgot-password" ng-show="formForgotPassword.email.$error.email || formForgotPassword.email.$error.maxlength">
                <p ng-show="formForgotPassword.email.$error.email">{{'lbl_invalid_email' | translate}} <strong>{{'lbl_email_format' | translate}}</strong></p>
                <p ng-show="formForgotPassword.email.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_email' | translate}}</strong></p>
            </div>
        </div>
        <div class="alert alert-danger home-general-error-forgot-password" ng-show="flash.type === 'error_reset'">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="glyphicon glyphicon-warning-sign"></i> {{flash.message}}</strong>     
        </div>
        <div class="alert alert-success home-general-success-forgot-password" ng-show="flash.type === 'success_reset'">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="glyphicon glyphicon-ok-circle"></i> {{flash.message}}</strong>     
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success" disabled>{{ 'lbl_send' | translate }}</button>
            <button type="submit" class="btn btn-success">{{ 'lbl_send' | translate }}</button>
        </div>       
    </div>
</form>