<div class="modal-header">
<!--    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>-->
    <button class="close" ng-click="cancel()" type="button">&times;</button>
    <h3 class="modal-title text-center sub-title custom-sub-title-modal">{{'lbl_t' | translate}}</h3>
    <div class="text-center custom-modal-slogan">
        <p>{{title}}</p>
    </div>
</div>
<div class="modal-body custom-notification-modal">
<!--    <strong><i class="glyphicon glyphicon-warning-sign"></i> {{notification}}</strong>-->
    <strong><i ng-class="{true: 'glyphicon glyphicon-warning-sign', false: 'glyphicon glyphicon-ok-circle'}[error]"></i> {{notification}}</strong>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()"> {{'lbl_cancel' | translate}}</button>   
</div>