<div class="modal-header">
    <h3 class="modal-title text-center sub-title custom-sub-title-modal">{{'lbl_t' | translate}}</h3>
    <progressbar class="progress-striped active" max="100" value="100" type="default"><i>{{'lbl_loading' | translate}}...</i></progressbar>
    <small class="custom-progressbar-notification-modal"><em>{{'lbl_progressbar_notification' | translate}}</em></small>
</div>