<form name="formResetPassword" novalidate ng-submit="send()">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">&times;</button>
        <h3 class="modal-title text-center sub-title custom-sub-title-modal">{{'lbl_t' | translate}}</h3>
        <div class="text-center custom-modal-slogan">
            <p>{{'lbl_title_reset_password' | translate}}</p>
        </div>
    </div>
    <div class="modal-body">
        <input type="hidden" name="token" value="{{ credentials_reset_password.token }}">
        <div ng-class="{'has-error': formResetPassword.email.$error.email || formResetPassword.email.$error.maxlength, 'has-success': !formResetPassword.email.$invalid}" class="form-group">
            <div class="input-group form-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
                <input id="reset_password_email" ng-model="credentials_reset_password.email" ng-maxlength="255" maxlength="256" name="email" class="form-control input-lg" placeholder="{{'lbl_email' | translate}}..." type="email" tabindex="1" autofocus="autofocus" required>            
            </div>
            <div class="help-block home-error home-error-reset-password-email" ng-show="formResetPassword.email.$error.email || formResetPassword.email.$error.maxlength">
                <p ng-show="formResetPassword.email.$error.email">{{'lbl_invalid_email' | translate}} <strong>{{'lbl_email_format' | translate}}</strong></p>
                <p ng-show="formResetPassword.email.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_email' | translate}}</strong></p>
            </div>
        </div>
        <div ng-class="{'has-error': formResetPassword.password.$error.minlength || formResetPassword.password.$error.maxlength, 'has-success': !formResetPassword.password.$invalid}" class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input ng-minlength=8 ng-maxlength="100" maxlength="101" ng-model="credentials_reset_password.password" name="password" id="reset_password_password" class="form-control input-lg" placeholder="{{'lbl_password' | translate}}..." tabindex="2" type="password" required>
            </div>            
            <div class="help-block home-error home-error-reset-password-password" ng-show="formResetPassword.password.$error.minlength || formResetPassword.password.$error.maxlength">
                <p ng-show="formResetPassword.password.$error.minlength">{{'lbl_least' | translate}} <strong>{{'lbl_least_long_password' | translate}}</strong></p>
                <p ng-show="formResetPassword.password.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_password' | translate}}</strong></p>
            </div>
        </div>

        <div ng-class="{'has-error': formResetPassword.password_confirmation.$error.minlength || formResetPassword.password_confirmation.$error.maxlength || formResetPassword.password_confirmation.$error.pwmatch, 'has-success': !formResetPassword.password_confirmation.$invalid}" class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input id="reset_password_password_confirmation" data-ng-pw-check="reset_password_password" ng-minlength=8 ng-maxlength="100" maxlength="101" ng-model="credentials_reset_password.password_confirmation" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="{{'lbl_password_confirmation' | translate}}..." tabindex="3" type="password" required>
            </div>            
            <div class="help-block home-error home-error-reset-password-password-confirmation" ng-show="formResetPassword.password_confirmation.$error.minlength || formResetPassword.password_confirmation.$error.maxlength || formResetPassword.password_confirmation.$error.pwmatch">
                <p ng-show="formResetPassword.password_confirmation.$error.minlength">{{'lbl_least' | translate}} <strong>{{'lbl_least_long_password' | translate}}</strong></p>
                <p ng-show="formResetPassword.password_confirmation.$error.maxlength">{{'lbl_most' | translate}} <strong>{{'lbl_most_long_password' | translate}}</strong></p>
                <p ng-show="formResetPassword.password_confirmation.$error.pwmatch"><strong>{{'lbl_password_do_not_match' | translate}}</strong></p>
            </div>
        </div>	
        <div class="alert alert-danger home-general-error-reset-password" ng-show="flash.type === 'error_reset_password'">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="glyphicon glyphicon-warning-sign"></i> {{flash.message}}</strong>     
        </div>
        <div class="alert alert-success home-general-success-reset-password" ng-show="flash.type === 'success_reset_password'">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><i class="glyphicon glyphicon-ok-circle"></i> {{flash.message}}</strong>     
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success" disabled>{{ 'lbl_send' | translate }}</button>
            <button type="submit" class="btn btn-success">{{ 'lbl_send' | translate }}</button>
        </div>       
    </div>
</form>